.etsy-logo-container svg{
    fill: #F1641E !important;
    width: 60px;
    height: 30px;
}
.header-heart-svg svg{
    width: 24px;
    height: 24px;
}
.header-basket-container svg{
    width: 24px;
    height: 24px;
}
.header-menu-bar-container{
    height: 24px;
    width:24px;
    padding-left: 3px;
    padding-bottom: 2px;
    padding-right: 12px;
}
.header-input-container-child input{
    padding:12px 42px 12px 18px;
    font-size: 16px;
    border: none;
    border-radius: 500px;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    width: 100%;
    background-color: rgba(34,34,34,0.05);
  
}
.header-input-container{
    display: flex;
    min-width:260px;
    height: 48px;
    box-sizing: border-box;
    padding-right: 3px;
    width: 100%;
    min-width: 80vw;
}
.header-input-container-child{
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    border-radius: 50px;
    background: rgba(34,34,34,0.05);
    align-items: center;
    width: 100%;

}
.header-container{
    display: flex;
    margin: 0 auto;
    max-width: 1330px;
    padding: 0px 9px;
    align-items: center;
    max-height: 96px;
    justify-content: space-between;
    margin-bottom: 4px;
    flex-wrap: wrap;
}
.header-signin-components-container{
    display: flex;
    height: 48px;
    display: flex;
    align-items: center;
}
.header-signin{
    white-space: nowrap;
    padding: 9px 15px;
    padding-bottom: 9px;
    padding-right: 19px;
    font-size: 13px;
    font-weight: 500;
    font-family: Graphik Webfont;
}
.header-search-input-container{
    display: flex;
    flex: 1;
    align-items: center;
}
.button-header-input{
    background-color: inherit;
    border: none;
    padding: 0;
    padding-right: 22px;
    padding-left: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
}
.header-button-span{
    width: 24px;
    height: 24px;
}
.header-button-span svg{
    width: 24px;
    height: 24px;
    display: block;
}
.header-heart-svg{
    padding: 12px;
}
.header-basket-container{
    padding: 12px;
    padding-right: 15px;
    padding-top: 13px;
}
.header-menu-bar-container svg{
    width: 24px;
}
.input-svg{
    background-color: inherit!important;
    

}
.header-heart-svg{   
     padding-right: 10px;
    padding-top: 13px;}
    .header-input-container-child input:focus{
     outline: none;
     background: linear-gradient(to right, white 100%, rgba(34, 34, 34, 0.05) 0%)!important;

    }
    .section-one-input-class:focus ~ .button-header-input{
       background-color: black;
    }
    .header-input-container-child:focus-within{
        outline: solid 2px rgb(81, 81, 235) ;
        outline-offset: 2px;
    }
    /* ///////////////FirstSectionCircularCardscard section csss*/




.main-card-section-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 5px;
    padding-right: 9px;
}

.cards-image-container img{
    max-width: 96px;
    border-radius: 50%;
    width: 102%;
    border: 1px solid rgba(34, 34, 34, 0.15) !important;

}
.cards-main-container{
    flex-basis: 27.33%;
    min-height: 149.8px;
    position: relative;
}
.card-name{
    font-family: "Graphik Webfont";
    font-size: 13px;
    padding-left: 3px;
}
.text-main-section h2{
    font-family: 'Guardian';
    font-weight: 50;
    letter-spacing: 0.35px;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 20px;
}
.text-main-section{
    padding:18px 12px 0px 12px ;
    margin-top: 12px;
}
.cards-image-container{
    margin-bottom: 1px;
}
.cards-section-parent-container{
    background: linear-gradient(to bottom, #D7E6F5 74%,white 20%);
}
.card-name p{
    line-height: 1.4;
}
.cards-image-container img:hover{
    scale: 1.1;
}
.cards-image-container:hover::after{
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    left: 0px;
    background-color: black;
    top: 84%;
    z-index: 100000;
}
/* .input-svg{
    fill: black!important;
} */
/* //////////////////////Second card css/////////// */
.second-card-ptag-two{
    display: none;
}
.second-card-section-container-child{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
.second-card-image-container{
    flex-grow: 1;
    flex-basis: 30.33333%;
    max-width: 29.33333%;
}
.second-card-image-container-child,.second-card-image-container-child-child,.second-card-image-container-child-child img{
    max-width: 100%;
    border-radius: 4px;
}
.second-card-section-container,.second-card-section-container-child{
    padding: 0px 6px;
}
.second-card-image-container{
    margin-bottom: 12px;
    padding-right: 12px;
}
.second-card-image-container:nth-child(4),.second-card-image-container:nth-child(7){

    padding-right: 0!important;
}
.second-card-image-container-child-child{
    border-radius: 3px;
}
.second-card-play-button{
    position: absolute;
    bottom: 12px;
    right: 12px;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.second-card-play-button > span svg{
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.second-card-image-container-child{
    position: relative !important;
}
.second-card-section-text-child{
    display: none;
}
.second-card-anchor-tag{
    text-decoration: none;
    color: black;
    font-weight: 500;
    position: relative;
}
.second-card-anchor-tag::after{
    background-image: url("data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox%3D%220 0 12 24%22%3E%3Cpath fill%3D%22%23222222%22 d%3D%22M11.3,12.7L12,12l-0.7-0.7l-4-4c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4L8.2,11H1c-0.6,0-1,0.4-1,1s0.4,1,1,1h7.2l-2.3,2.3 c-0.2,0.2-0.3,0.4-0.3,0.7c0,0.6,0.4,1,1,1c0.3,0,0.5-0.1,0.7-0.3C7.3,16.7,11.3,12.7,11.3,12.7z%22%2F%3E%3C%2Fsvg%3E");
    position: absolute;
    content: "";
    margin-left:6px;
    width: 12px;
    height: 24px;
    top: -2px;
}
.second-card-section-container{
    margin-top: 11px;
    margin-bottom: 119px;
}
.second-card-section-text-container{
    padding-bottom: 18px;
    flex-basis: 100%;
}
.second-card-section-text-container p{
    font-family: "Graphik Webfont";
    font-weight: 100;
    font-size: 13px;
    line-height: 18px;
    color: #595959;
}
.second-card-section-text-container h1{
    font-family: "Graphik Webfont";
    font-size: 18px;
    line-height: 24px;
    font-weight: 100;
}
.second-card-image-container-child-child img{
    min-height: 83px;
    display: inline-block;
    object-fit: cover;
}
.second-card-section-container-child div:nth-child(4),.second-card-section-container-child div:nth-child(7) {
    max-width: 33.3%;
}
.heart-svg-container-child svg{
    width: 18px;
}
.heart-svg-container-child{
    width: 30px;
    height:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50px;
}
.heart-svg-container{
    width: fit-content;
    position: absolute;
    top: 20px;
    right: 7px;
    opacity:0;
    transition:all 0.2s;
}
.second-card-image-container-child:hover .heart-svg-container,.third-section-first-row-first-component-container:hover .heart-svg-container,.third-section-first-row-second-component-container:hover .heart-svg-container,.third-section-flexbox-second-row-container:hover .heart-svg-container{

opacity: 1;
transform: translateY(-12px);
}
.anchortag-container{
    padding-right: 24px;
    font-size: 16px;
}
.second-card-anchor-tag:hover::after{
   margin-left: 12px;
}
/* /////////////////////// third section /////////////// */
.main-section-h2-class{
    font-size: 19px;
    font-weight: 100;
    line-height: 24px;
    font-family: "Graphik Webfont";
}


.silder-section-three-child::-webkit-scrollbar{
    display: none;
}
.section-three-button-one p{
font-size: 20px;
font-family: "Graphik Webfont";
color: #595959;
font-weight: 100;
}
.section-three-button-one{
    background-color: transparent;
    border: none;
    white-space: nowrap;
    transition:width 0.6s;
}
.silder-section-three-child{
overflow: scroll;
display: flex;
}
.section-three-button-one{
    padding:12px 0px 12px 18px ;
    position: relative;
}
.slider-section-three{
    padding: 0px 12px;
    margin-bottom: 7px;
    margin: 0 auto;
    max-width: 1325px;
}
.silder-section-three-child{
    justify-content: space-around;
}

.section-three-button-one:focus::after{
    position: absolute;
    border-bottom: 2px solid black;
    content: "";
    width: 90%;
    left: 0;
    bottom: 0px;
}
.section-three-button-one::after{
    position: absolute;
    display: block;
    border-bottom: 2px solid rgba(250, 247, 247, 0.09);
    content: "";
    width: 0%;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0px;
    background: transparent;
    transition: width 0.3s ease, background-color 0.2s ease;
}
.section-three-button-one:hover::after{
    width: 90%;
    background-color: black;
}
.silder-section-three-child{
    border-bottom: 2px solid rgba(34, 34, 34, 0.15);
}
.section-three-button-one:nth-child(1){
    padding-left:0;
    margin-right: 18px;
}
.section-three-button-one:focus p{
    color: black;
}
.ptag-three{
    display: none;
}
@media screen and (max-width:639px){
.section-three-button-one:nth-child(3){
    display: none;
}
}

/* ////////////////// third section css //////////// */
.main-section-three-h2-container{
    margin-bottom: 21px;
}
.main-section-three-child{
    margin-bottom: 60px;
}
.third-section-flexbox-one-container{
    display: flex;
    flex-direction: column;
}
.third-section-flexbox-first-row,.third-section-flexbox-two-row-two-container-child{
    display: flex;
}
.third-section-first-row-first-component-container img,.third-section-first-row-second-component img,.third-section-flexbox-two-component-one-child-container img,.third-section-flexbox-two-component-two-child  img{
   width: 100%;
   border-radius: 6px;
}
.third-section-flexbox-second-row-container img,.third-section-flexbox-two-row-one-container-child img{
width: 100%;
border-radius: 6px;
}
.third-section-flexbox-two-row-one-container,.third-section-flexbox-second-row{
    padding:1px 6px;;
}
.third-section-first-row-second-component,.third-section-first-row-first-component{
    padding: 6px;
    width: 100%;
}
.third-section-cards-container{
    padding: 0px 6px;
}
.third-section-flexbox-two-row-one-container{
    padding-top: 3px;
}
.third-section-flexbox-two-row-two-container{
    padding: 6px 0px;
}
.third-section-flexbox-two-row-two-component-container, .third-section-flexbox-two-component-one-container{
    padding: 6px;
}
.third-section-first-row-first-component-container,.third-section-first-row-second-component-container,.third-section-flexbox-second-row-container{
    position: relative;
}

/* //////////////Price component css////////// */



.price-component-container{
    position: absolute;
    bottom: 12px;
    left: 7px;
    width:fit-content;
    height:27px ;
    
}
.price-component-span-container{
    display: flex;
    background-color: white;
    border-radius: 50px;
    justify-content: center;
    align-content: center;
    width:fit-content;
    height:27px ;
    padding: 0px 4px;
    
    
}
.price-component-span-container > span{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-right: 2px;
    font-size: 13px;
    font-weight: 500;

}
.discount-price-span{
    padding-left: 3px;
}

/* /////////fourth section /////// */
.fourth-section-container{
       border-radius: 12px;
       border: 1px solid rgba(34, 34, 34, 0.15);
    margin: 12px;

    padding:11px;
    padding-bottom: 16px;
    margin-top: 56px;
}
.section-five-cards-container{
    border: 1px solid rgba(34, 34, 34, 0.15);
    border-radius: 12px;
    height: 100%;
}
/* ////////section five////// */
.section-five-container-child{
    display: flex;
    flex-wrap: wrap;
}
.section-five-container{
    margin-bottom: 26px;
}
.section-five-cards{
    flex-grow: 1;
    flex-basis: 40%;
    border-radius: 12px;
    padding:6px
}
.section-five-cards-container img{
   width: 100%;
   border-top-left-radius: 12px;
   border-top-right-radius:12px ;

}
.h2-section-five{
    font-size: 18px;
    position: relative;
    padding: 15px 0px;
}
.h2-section-five::after{
    background-image: url("data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox%3D%220 0 12 24%22%3E%3Cpath fill%3D%22%23222222%22 d%3D%22M11.3,12.7L12,12l-0.7-0.7l-4-4c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4L8.2,11H1c-0.6,0-1,0.4-1,1s0.4,1,1,1h7.2l-2.3,2.3 c-0.2,0.2-0.3,0.4-0.3,0.7c0,0.6,0.4,1,1,1c0.3,0,0.5-0.1,0.7-0.3C7.3,16.7,11.3,12.7,11.3,12.7z%22%2F%3E%3C%2Fsvg%3E");
    margin-left: 6px;
    width: 12px;
    height: 24px;
    position:absolute;
    content: "";
    top: 13px;
}
.text-div-section-five{
    margin-bottom: 18px;
}

.section-five-text-container{
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60px;
}
.section-five-container-child{
    padding: 0px 3px;
    margin-bottom: 28px;
    margin: 0 auto;
    max-width: 1387px;

}
.section-five-cards-container{
    display: flex;
    flex-direction: column;
}
.section-six-container-child{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-six-card-container{
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(34, 34, 34, 0.15);
    min-height: 171.9px;
    border-radius: 12px;
    
}
.section-six-card-container-parent{
    display: flex;
    flex-direction: column;
    padding: 0px 6px;
    margin: 0 auto;
    max-width: 1346px;
}
.section-six-image-container{
    flex-basis: 50%;
}
.section-six-image-container img{
    width: 100%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    object-fit: cover;
    height: 100%;
}
.section-six-text-container{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    padding:0px 18px 18px 18px;
    box-sizing: border-box;
}

.p-tag{
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-align: left;
}
.ptag-two{
    font-family: "Graphik Webfont";
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align:left;
    padding-bottom: 2px;
}
.section-six-card-main-container{
    padding: 6px;
    
}
.section-six-h2-tag{
    position: relative;
    font-weight: 100;
    font-size: 18px;
    font-family: "Graphik Webfont";
    position: relative;
    margin: 0 auto;
    max-width: 1365px;
}
.section-six-h2-tag-container{
  padding-bottom: 11px;
}
.section-six-h2-tag::after{
    content: "";
    position:absolute;
    top: -1px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox%3D%220 0 12 24%22%3E%3Cpath fill%3D%22%23222222%22 d%3D%22M11.3,12.7L12,12l-0.7-0.7l-4-4c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4L8.2,11H1c-0.6,0-1,0.4-1,1s0.4,1,1,1h7.2l-2.3,2.3 c-0.2,0.2-0.3,0.4-0.3,0.7c0,0.6,0.4,1,1,1c0.3,0,0.5-0.1,0.7-0.3C7.3,16.7,11.3,12.7,11.3,12.7z%22%2F%3E%3C%2Fsvg%3E");
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    margin-left: 6px;
}
.section-six-container-child{
    margin-bottom:60px;
}
.footer-section-h2-tag{
    font-size: 36px;
    line-height: 32px;
    font-family: "Guardian";
    font-weight: 100;
    margin-bottom:6px ;
}
.footer-a-tag{
    color: black;

}
.cards-h3-tag{
    font-size:24px;
    font-weight: 500;
    margin-bottom: 18px;
}
.footer-p-tag{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: inline;
}
.section-seven-h4-tag{
    font-size: 18px;
    line-height: 24px;
    max-width: 85%;
    margin: 0 auto;
}
.footer-section-container{
    padding: 36px;
    padding-bottom: 6px;
}
.footer-section-content-container{
    padding-top:36px;
}
.footer-cards-container{
    margin-bottom: 30px;
}
.section-seven-main-container-child{
    background-color: #FDEBD2 !important;
}
.svgContainer svg{
    height: 15px;
    fill: #fff;
    width:100%;
}
.footer-card-two-link-container{
    display: inline;
 
}
.footer-card-a{
    color: black;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-position: under;
    text-decoration-color: inherit;
    line-height: 28px;
}
.section-seven-cards-last a{
margin-top: 12px;
display: inline-block;
text-decoration: none;
color: black;
padding: 12px 18px;
border: 2px solid black;
border-radius: 50px;
}
.section-seven-logo-container svg{
width: 36px;
height: 36px;
fill: white;

}
.section-seven-container-child{
    background-color: #4D6BC6 !important;
}
.section-seven-text-container{
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-position: under;
    background-color: #4D6BC6 !important;
  color:white;
  padding-bottom: 3px;
}
.second-card-section-text-child{
    display: none;
}
.cracked-border-container{
    fill: #4D6BC6 !important;
}
.section-seven-content-container{
    background-color: #4D6BC6 !important;
}
.cracked-border-container svg{
    width: 99vw;
    display: block;
    height: 24px;
    transform:scaleX(-1)rotateX(180deg);
}
.section-seven-last-card{
    margin-top: -20px;
}
.section-seven-main-container-child{
    padding-bottom: 64px;
}
.section-seven-content-container-child{
    padding: 12px 0px;
    margin-top:0px;
    padding-top: 10px;
}
.section-seven-main-container{
    margin-bottom: -29px;
}

.footer-span::after{
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: 24px;
    min-width: 24px;
    position:absolute;
    height: 24px;
    transition: transform 200ms ease-in;
    background-image: url("data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox%3D%220 0 24 24%22 aria-hidden%3D%22true%22 focusable%3D%22false%22%3E%3Cpath fill%3D%22%23FFFFFF%22 d%3D%22M12,15.414L7.293,10.707A1,1,0,1,1,8.707,9.293L12,12.586l3.293-3.293a1,1,0,0,1,1.414,1.414Z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
    margin-left: 6px;
    top: 6px;
    right: 24px;
}

.footer-container-child{
    background-color: #2F466C !important;
}
.button-footer{
    background-color: transparent;
    border: none;
    color: white;
    width:100%;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    min-height: 48px;
    min-width: 48px;
    padding:12px 24px;
    margin-bottom: 12px;
    position: relative;
    border-radius: 50px;
    padding-top: 0px;
}
.button-list-container-child li{
    padding-top:6px;
    padding-bottom: 12px;
    color: white;

}
.button-list-container-child{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
}
.button-list-container{
    padding-left: 24px;
}
.button-list-container{
display: none;
max-height: 0px;
}
.button-list{
    display: contents;
    height: 100%;
}
.button-container-footer{
    margin-bottom: 6px;
}
.footer-row-one{
    padding: 12px 0px;
    padding-bottom: 20px;
    padding-top: 18.1px;
}
.footer-svg li{
width: 36px;
fill: white;
height: 36px;
padding: 6px;
margin-right:3px;
}
.footer-logo svg{
    width: 24px;
    height: 24px;
}
.footer-parent-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 15px;
    margin-top: 15px;
    width:fit-content;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 57px;
    padding: 4px 13px;

}
.footer-text{
    margin-left: 6px;
    color: white;
    font-weight:500;
    box-sizing: border-box;
    padding-bottom: 5px;
    font-size: 13px;
}
    .footer-logo{
        display: flex;
    }
    .footer-logo svg{
        fill: white;
    }
    .footer-svg{
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: center;
        margin-top: 16px;
        padding-right: 12px;
    }
    .section-five-container-text{
        flex-basis: 100%;
    }
    /* ////////// footer anim */
    .button-footer{
        transition: background-color 0.1s ease-in;
    }
    .button-list-container-child{
        transition: max-height 0.15s ease-out;
    }

    .transform::after{
        transform: rotate(180deg);
    }
    .footer-parent-container{
        margin-top: 24px;
        margin-top: 24px;
        letter-spacing: 0.01em;
    }
    .footer-logo-container{
        margin-top: 12px;
    }
    .footer-last-first-part-svg-container svg{
        width: 18px;
        height: 18px;
        fill: white;
    }
    .footer-last-part-container-child{
        display: flex;
        align-items: center;
        padding-bottom: 12px;
        justify-content: center;
        margin-bottom: 17px!important;
    }
    .footer-last-second-part{
        margin-left: 8px;
    }
    .footer-last-second-part-container{
        color: white;
        font-size: 13px;
        font-weight: bolder;
        font-family: "Graphik Webfont";
    }
    .footer-last-first-part-svg-container{
        display: flex;
    }
    .footer-last-part-two-container{
        display: flex;
        flex-direction: column;

    }
    .header-nav-ul{
        display:none;
    }
    #footer-ul li{
   display: inline;
   color: white;
   font-size: 13px;
   text-decoration: underline;
   margin-right: 12px;
   display: inline-block;
   margin-left: 4px;
    }
    #footer-ul{
        max-width: 80%;
        margin: 0 auto;
    }
    #footer-ul li:nth-child(2){
        padding-right: 9px;
    }
    .footer-last-part-two-child{
        color: white;
        font-size: 13px;
        margin-bottom: 12px;
    }
    .footer-last-part-container{
        padding: 18px 24px;
        padding-top: 17px;
        padding-bottom: 20px;
        background-color: #232347;
    }
    .footer-last-part-container-child{
        padding: 9px 15px;
        margin-bottom: 12px;
    }

    /* ////// card-section-three-media-query///// */

    @media (min-width:338px){
        .second-card-image-container-child,.second-card-image-container-child-child,.second-card-image-container-child-child img{
            height: 100%;
        }
    }
    /* ////// header-media-query/////// */

    @media (min-width:900px) {
        .footer-parent-container{
            margin: 0;
        }
        .cards-image-container img{
            width: 114px!important;
            height: 114px!important;
            max-width: 100%;
        }
        .third-section-first-row-first-component{
              padding: 9px!important;
        }
        .third-section-first-row-second-component{
            padding: 9px!important;
            padding-bottom: 0px!important;
        }
        .third-section-flexbox-one-container {
            display: flex;
            flex-direction:row-reverse!important;
        }
        .third-section-flexbox-first-row{
            padding: 4px 0px;
        }
        .third-section-flexbox-second-row-container{
            padding: 9px!important;
        }
        .third-section-flexbox-first-row{
       flex-wrap: wrap;
       flex-basis:50%;
        }
        .third-section-flexbox-second-row{
            flex-basis: 109%;
        }
        .main-section-three{
            flex-basis: 50%;
        }
        .cards-image-container:hover::after {
            top: 96%;
        }
        .header-signin-components-container{
order: 3;
        }
        .main-card-section-container{
            margin: 0 auto;
            max-width: 1034px;
        }
        .text-main-section{
            margin-top: -1px;
        }
        .header-input-container{
            min-width:40vw;
            padding-right:25px;
        }
        .header-container{
            padding: 12px 33px;
        }
        .etsy-logo-container svg{
            height: 40px;
            width: 80px;
           padding-top: 4px;
        }
        .header-menu-bar-container{
            display: none;
        }
        .etsy-logo-container{
            padding-right: 9px;
        }
        .header-heart-svg{
            padding-right: 12px;
            padding-left: 25px;
        }
        .header-signin{
            padding: 8px;
            padding-bottom: 9px;
        }
        .header-nav-ul{
            display: flex;
            list-style: none;
            align-items: center;
            max-width: 1323px;
            margin: 0 auto;
            justify-content: space-between;
        }
        .header-nav-ul li{
            font-size: 13px;
            margin-right: 12px;
        }
        .header-nav-bar{
        padding: 0px 36px;
        }
        .nav-section-li{
            text-align: left;
            display: flex;
            align-items: center;
            position: relative;
            padding-bottom: 12px;
        }
        .header-nav-span{
            line-height: 18px;
        }
        .nav-section-li:hover ::after{
       content: "";
       position:absolute;
       width: 100%;
       height: 2px;
       background-color: #232347;
       left: 0;
       bottom: 0;
        }
        .header-ul{
            display: flex;
            flex-direction: column;
            list-style: none;
        }
        .header-hover-container{
            display: flex;
            flex-direction: row;
        }
        .header-hover-container-child-two{
            display: flex;
        }
        .header-ul-second-part-first{
            list-style: none;
        }
        .header-ul-seecond-part-two{
            list-style: none;
        }
        .header-hover-div{
            padding: 0px 17px;
            display: block!important;
        }
        .header-ul  li{
            padding: 12px 6px 6px 18px;
            width: 100%;
            text-align: left;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            max-width: 100%;
            box-sizing: border-box;
        }
        .header-li-span{
            font-size: 13px;
            font-weight: 400;
        }
        .header-hover-list-div{
            font-size: 13px;
            font-weight: 500;
            margin-bottom: 12px;
        }
        .header-hover-list-div{
            padding-left: 18px;
            text-align: left;
            padding-top: 8px;
        }
        .header-hover-list-div::after{
           background-image: url("data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox%3D%220 0 12 24%22%3E%3Cpath fill%3D%22%23222222%22 d%3D%22M11.3,12.7L12,12l-0.7-0.7l-4-4c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4L8.2,11H1c-0.6,0-1,0.4-1,1s0.4,1,1,1h7.2l-2.3,2.3 c-0.2,0.2-0.3,0.4-0.3,0.7c0,0.6,0.4,1,1,1c0.3,0,0.5-0.1,0.7-0.3C7.3,16.7,11.3,12.7,11.3,12.7z%22%2F%3E%3C%2Fsvg%3E");
           content:"";
           position: relative;
           margin-left: 6px;
           width: 12px;
           height: 24px;
           display: inline-block;
           top: 7px;
        }
        .svg-container-header-hover svg{
            height: 24px;
            width: 24px;
        }
        .svg-container-header-hover{
            display: flex;
        }
        .header-hover-container-child-one{
              flex-basis: 35.33%;
              margin-right: 18px;
              border-right: 1px solid rgba(92, 89, 89, 0.15);
              
        }
        .header-second-part{
            display: flex;
            flex-basis: 66.66%;
        }
        .header-ul-second-part-first li{
        font-size: 16px;
        font-weight: 500;
        padding: 12px 5px;
        text-align: left;
        }
        .header-second-part{
            padding-top:12px;
            padding-bottom: 18px;
        }
        .header-ul-second-part-first{
            max-height: fit-content;
            flex-basis: 50%;
        }
        .header-hover-container-child-two{
            box-sizing: border-box;
        }
        .header-ul-seecond-part-two li{
            padding-bottom: 18px;
            text-align: left;
            font-weight: 500;
        }
        .header-ul-second-part-first li:nth-child(1){
            padding-top: 0px;
        }
        .hover-header img{
          width: 100%;
          border-radius: 6px;
        }
        .header-part-two-last-section{
            flex-basis: 33.33%;
            max-width: 33.33%;
        }
        .hover-header{
            padding: 14px;
            padding-bottom: 3px;
        }
        .image-container-header-hover > .header-image-text-container + .header-image-text-container{
            font-size: 16px;
        }
        .header-image-text-container{
            font-size: 13px;
            text-align: left;
            padding-left: 16px;
        }
        .section-five-container-text{
            padding: 0px 30px!important;
        }
        .section-five-card{
            padding: 0px 18px;
        }
        .section-five-cards{
            flex-basis: 13%!important;
        }
        .section-six-card-container-parent{
            padding: 0px 26px!important;
        }
        .second-card-section-container-child{
            padding: 18px!important;
        }
        .second-card-section-container{
            padding: 18px!important;
        }
        .section-five-cards:nth-child(6){
            display: none;
        }
        .section-six-h2-tag{
            font-size: 28px;
            padding-left: 34px!important;
        }
        .section-six-h2-tag::after{
            top: 5px;
            margin-left: 12px;
            height: 29px;
        }

            .footer-row-one{
                margin: 0 auto;
                max-width: 1401px;
            }
            .footer-nav{
                display: flex;
                flex-direction:row;
                margin: 0 auto;
                max-width: 1433px;
                justify-content: space-between;
                }
                .footer-row-one {
                    padding: 37px 24px 24px 24px!important;
                }
                .button-footer{
                    margin-bottom: 9px;
                }
                .footer-section-content-container{
                    display: flex;
                    flex-direction: row;
                }
                .footer-section-container{
                    padding-left: 54px;
                    padding-right: 54px;
                }
                .footer-cards-container:nth-child(2){
                    margin: 0px 36px;
                }
                .footer-cards-container{
                    max-width: 33.333%;
                    flex-basis: 33.33%;
                    text-align: left;
                }
                .cards-h3-tag{
                    max-width: 87%;
                    font-size: 28px;
                }
                 .footer-cards-container:nth-child(2) .footer-cards-container-child .footer-p-tag{
                    max-width: 90%;
                    display: inline-flex;
                 }
                 .footer-cards-container:nth-child(3) .footer-cards-container-child .footer-p-tag{
                    max-width: 93%;
                    display: inline-flex;
                 }
                 .footer-section-container{
                    margin: 0 auto;
                     max-width: 1287px;
                 }
    }
    .header-hover-div{
        display: none;
        }
/* /////////////header-hover///// */
@media (min-width:640px){
    .svgContainer:nth-child(1){
        display: none;
    }
    .h2-section-five{
        font-size: 28px;
        font-weight: 500;
    }
    .h2-section-five::after{
        top: 19px;
        margin-left: 9px;
        
    }
    .text-div-section-five{
        font-size: 16px;
        font-weight: 200;
    }
    .main-card-section-container{
        flex-wrap: nowrap;
    }
    .section-five-text-container{
        font-size: 20px;
        max-width: 70%;
        margin: 0 auto;
        padding: 12px;
        font-weight: 500;
    }
    .third-section-first-row-first-component-container .price-component-container{
        bottom: 10px;
        left: 6px;
    }
    .third-section-first-row-second-component-container .price-component-container{
        bottom: 10px;
        left: 6px;
    }
    .price-component-container{
        left: 15px;
        bottom: 20px;
    }
    .second-card-section-container-child{
        justify-content: left;
    }
    .cards-section-parent-container {
        background: linear-gradient(to bottom, #D7E6F5 66%,white 20%);
    }
    .cards-image-container img{
        width:80px;  
        height:80px;
      }

      .text-main-section h2{
        font-size: 26px;
      }
      /* /////third section media query ///// */
      .second-card-section-text-container{
        flex-basis: 38.1%;
        max-width: 38.1%;
      }
      .second-card-image-container:nth-child(2){
        flex-basis: 25%!important;
        max-width: 21.2%;
      }
      .second-card-image-container:nth-child(3){
        flex-basis: 18.75%;
        max-width: 16.1%;
      }
      .second-card-image-container:nth-child(4){
        flex-basis: 18.75%!important;
        max-width: 18.5%!important;
      }
      .second-card-image-container:nth-child(5){
        flex-basis: 18.75%!important;
        max-width: 15.75%!important;
      }
      .second-card-image-container:nth-child(6){
        flex-basis: 18.75%!important;
        max-width: 15.9%!important;
      }
      .second-card-image-container:nth-child(7){
        flex-basis: 25%!important;
        max-width: 22.4%!important;
      }
      .anchortag-container{
        flex-basis: 37.5%!important;
        max-width: 37.5%!important;
      }
      .second-card-image-container{
        padding-right: 18px;
        margin-bottom: 18px;
      }
      .second-card-section-container{
        margin-top: 36px;
      }
      .second-card-section-container,.second-card-section-container-child{
        padding: 0px 13px;

      }
      .second-card-section-text-child{
        display:flex;
        flex-basis: 37.5%;
         max-width: 37.5%;
         align-items: center;
      }
      .anchortag-container{
        display: none;
      }
      .second-card-ptag-two{
        display: inline;
      }
      .second-card-section-text-container{
        text-align: left;
        display: flex;
        flex-direction: column;
      }
      .second-card-section-text-container h1{
        margin-top: 12px;
        padding-bottom:24px;
        font-size: 28px;
        max-width: 90%;
        line-height: 1.4;
      }
      .second-card-ptag-two{
        color: black!important;
        font-size: 16px!important;
      }
      .second-card-ptag-two::after{
        content: "";
        position:relative;
        top: 2px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox%3D%220 0 12 24%22%3E%3Cpath fill%3D%22%23222222%22 d%3D%22M11.3,12.7L12,12l-0.7-0.7l-4-4c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4L8.2,11H1c-0.6,0-1,0.4-1,1s0.4,1,1,1h7.2l-2.3,2.3 c-0.2,0.2-0.3,0.4-0.3,0.7c0,0.6,0.4,1,1,1c0.3,0,0.5-0.1,0.7-0.3C7.3,16.7,11.3,12.7,11.3,12.7z%22%2F%3E%3C%2Fsvg%3E");
        width: 12px;
        height: 24px;
        display: block;
        left: 6px;
      }
      .second-card-section-text-child{
        text-align: left;
        line-height: 1.5;
        padding-left: 15px;
      }
      
     .section-three-container{
        display: flex;
        flex-direction: row;
        padding:0px 3px;
        margin: 0 auto;
        max-width: 1346px;
        
     }
     .third-section-first-row-first-component,.third-section-first-row-second-component{
        padding: 9px;
     }
     .third-section-cards-container{
        padding: 0px;
     }
     .third-section-flexbox-second-row{
        padding: 8px;
     }
     .third-section-flexbox-one-container{
        padding-top: 0px;
     }
     .main-section-three:nth-child(1) .{
        padding-left: 3px;
     }
     /* .main-section-three:nth-child(2){
        padding-right: 3px;
     } */
     .third-section-flexbox-second-row{
        padding: 0px;
     }
     .third-section-flexbox-second-row-container{
        padding:1px 9px 1px 9px
     }
     .section-five-cards{
        flex-basis: 30%;
        padding: 9px;
     }
     .section-five-container-text{
        text-align: left;
        padding: 0px 18px;
    }
     .section-five-container{
        padding: 0px 3px;

     }
     .section-six-card-container{
        flex-direction: column;
        height: 100%;
     }
     .section-six-card-container-parent{
        flex-direction: row;
        padding: 0px 12px;
     }
     .section-six-card-main-container{
        flex-basis: 33.3%;
        padding:9px;
     }
     .ptag-three{
        display: block;
        text-align: left;
        -webkit-line-clamp:3;
        -webkit-box-orient: vertical;
          display: -webkit-box;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 13px;
          line-height: 1.4;
     }
     .ptag-two{
        padding: 12px 0px;
        font-size: 20px;
        line-height: 1.4;
     }
     .section-six-image-container img {
        width: 100%;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        border-bottom-left-radius: 0px;
         
    }
    .section-six-image-container{
        flex-basis: 35%;
    }
     .p-tag{
        padding-top: 18px;
     }
     .section-six-h2-tag-container{
        width: 100%;
        text-align: left;
    }
    .section-six-h2-tag{
        padding-left: 24px;
    }
    .button-list-container{
        display: inline-block!important;
        max-height: 100%!important;

    }
    .footer-row-one{
        display: flex;
    }
    .footer-span::after{
        display: none;
    }
    .button-footer{
        background-color: #2F466C !important;
        padding: 0px!important;
        min-height: 0px;
  
    }
    .button-container-footer{
        flex-basis: 25%;
        max-width: 25%;
    }
    .button-container-footer{
        text-align: left;
    }
    .button-list-container-child{
        font-size: 13px;
    }
    .button-list-container{
        padding: 0;
    }
    .footer-row-one{
        padding:34.5px 24px 24px 24px;
    }
    .footer-svg{
        justify-content:left;
        flex-wrap: wrap;
    }
    .footer-last-part-container-child{
        margin-bottom: 13.5px!important;
    }
    #footer-ul {
        margin: 0px 0px 0px 26px!important;
    }
   #footer-ul li:nth-child(1),#footer-ul li:nth-child(2){
    margin-left: 0;
    margin-right: 21px!important;
    padding: 0;
   }
   #footer-ul li:nth-child(3){
    margin-left: 0;
    margin-right: 16px;
   }
   #footer-ul li:nth-child(4){
    margin-left: 0;
   }
   .button-container-footer{
    margin-bottom: 12px;
   }
   .footer-text{
    padding-bottom: 0;
    line-height: 1.4;
   }
   .footer-svg{
    margin-left: -12px;
   }
   .button-list-container-child li{
    padding: 8px 0px !important;
   }
   #footer-logo-container{
    margin-top: 36px;
   }
   .section-seven-content-container-child{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   }
   .section-seven-text-container{
    margin-left: 12px;
    font-size: 16px;
   }
    .section-seven-content-container-child{
        padding-bottom:10px;
    }
    .cracked-border-container svg{
        width: 100%!important;
        height: 21px!important;
    }
    .footer-section-h2-tag{
        font-size: 44px;
        font-weight: 100;
        margin-bottom:12px;
    }
    .footer-a-tag{
        font-size: 14px;
    }
    .section-seven-main-container-child{
        padding-bottom: 79px;
    }
    .footer-row-one{
        margin: 0 auto;
        max-width: 1401px;
    }
    .cracked-border-container:nth-child(1){
        display: none;
    }
}
@media (max-width:639px){
    .svgContainer:nth-child(2){
        display: none;
    }
}
@media (max-width:666px){
    .second-card-image-container:nth-child(2) {
  
        min-height: 143.39px;
    }
}
@media (max-width:639px){
    .second-card-image-container:nth-child(2) {
  
        min-height:100%;
    }
}
/* /////third section media query ///// */
@media (min-width:1480px){
    .second-card-section-text-child{
        align-items: center;
        display: flex!important;
    }
    .svgContainer svg{
        width:100%;
    }
    .cracked-border-container svg{
        width: 98vw;
    }
    /* //////desktop section 2 /// */
    .second-card-section-container-child{
    justify-content: left;
    margin: 0 auto;
    max-width: 1331px;
}
.second-card-section-text-container{
    justify-content: center;
}
.second-card-section-text-container {
    flex-basis: 38.1%;
    max-width: 33.9%;
}
.second-card-image-container:nth-child(2) {
    flex-basis: 25%!important;
    max-width: 22.6%;
}
.second-card-image-container{
    padding-right: 24px;
    margin-bottom: 24px;
  }
  .second-card-image-container:nth-child(3) {
    flex-basis: 18.75%!important;
    max-width: 14.1%!important;
}
.second-card-image-container:nth-child(4) {
    flex-basis: 18.75%!important;
    max-width: 24.5%!important;
}
.second-card-image-container:nth-child(5) {
    flex-basis: 32.75%!important;
    max-width: 31.99%!important;
}
.second-card-image-container:nth-child(6) {
    flex-basis: 18.75%!important;
    max-width: 22.9%!important;
}
.second-card-image-container:nth-child(7) {
    flex-basis: 25%!important;
    max-width: 14%!important;
}
.second-card-section-text-child {
    display: inline;
    flex-basis: 23.5%;
}
.second-card-section-text-child {
    padding-left: 19px;
    /* display: flex; */
    align-items: center;
    padding-bottom: 40px;
}
        .footer-last-part-two-container{
            padding-bottom: 15px;
            padding-right: 48px;
            }
            .footer-last-part-container{
            padding-bottom: 5px;
            }
        .section-seven-h4-tag{
            font-size: 20px;
        }
        .footer-section-container{
            padding-bottom: 28px;
        }
        .text-main-section h2{
            font-size: 32px;
            margin-bottom: 32px;
        }
        .cards-section-parent-container {
            background: linear-gradient(to bottom, #D7E6F5 73%,white 20%);
        }
        .card-name p{
            font-size: 16px;
        }
        .cards-image-container{
            margin-bottom: 7px;
        }
        .cards-image-container:hover::after {
            top: 101%;
        }
        .header-input-container {
            padding-right: 23px;
        }
        .header-container {
            max-width: 1332px;
        }
        .header-input-container-child input {

            font-size: 17px;      
        }
          
}

@media (min-width:651px){
    .second-card-ptag-two::after{
        display: inline-flex;
        top: 7px;
    }
}

@media (min-width:505px){
    .footer-last-part-two-container{
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }
    .footer-last-part-two-child{
        margin-bottom: 0;
    }
    #footer-ul{
        margin: 0px 0px 0px 14px;
    }
}